<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379058802151-oaiqqgcmb50ldoipgolsf2ertcnjp2tj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379058802151-oaiqqgcmb50ldoipgolsf2ertcnjp2tj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>379058802151-7nj1udk5qbp3kjbrkgqjpm61eumusqqc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ3MKiYsYCqKnc99preBpRXG8pu-oP_IY</string>
	<key>GCM_SENDER_ID</key>
	<string>379058802151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-demo-9a5d5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-demo-9a5d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379058802151:ios:10c456fa80ffdbe0ef4142</string>
</dict>
</plist>